#logo {
  max-width: 5%;
  height: auto;
}
.char {
  border: 1px solid black;
  height: 225px;
  width: 300px;
  float: left;
}
.charPic {
  width: 40%;
  height: auto;
  float: left;
  margin: 10px;
  margin-top: 20xp;
}